@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;  
    font-weight: bolder;
}
.main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, rgb(41, 41, 228), rgb(7, 8, 71));
}

#title {
    position: absolute;
    font-size: xxx-large;
    color: antiquewhite;
    top: 100px;
    left: 47%;
}

#blahaj {
    position: absolute;
    left: 50px;
    width: 1000px;
    height: 1000px;
    transition: transform 1s;
}

#blahaj:hover {
    transform: rotate(1800deg); 
}

.navLinks {
    position: absolute;
    top: 250px;
    right: 300px;
    flex: 1;
    text-align: center;
    font-size: xxx-large;
    z-index: 2;
}

.navLinks ul li {
    list-style: none;
    margin: 0 0 70px;
}

.navLinks ul li a {
    color: rgb(27, 25, 153);
    text-decoration: none;
    transition: color 0.5s;
}

.navLinks ul li a:hover {
    color: rgb(87, 117, 250);
}

.dot {
    height: 1100px;
    width: 1100px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: -300px;
    top: -60px;
    z-index: 1;
  }